name: Test/Tag
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  unit-test:
    if: ${{ !startsWith(github.event.head_commit.message, 'tag') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-go
      - name: Test
        run: go test -v -covermode=count -coverprofile=.coverage.out ./...
      - name: Coveralls upload
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: .coverage.out

  lint:
    if: ${{ !startsWith(github.event.head_commit.message, 'tag') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-go
      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: '-v'

  tag:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
      - unit-test
      - lint
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0' # https://github.com/actions/checkout/issues/217
          token: ${{ secrets.CI_TOKEN }}

      - uses: ./.github/actions/setup-go

      - name: Tag
        run: |
          SEM_VER=$(.github/semver.sh)
          git config --global user.email "gabimtme@hotmail.com"
          git config --global user.name "Automatic bumper"
          git tag "v$version"
          git push --tags
